html,
body {
    height: 100%;
    background-color: #ECF0F5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

html body .breadcrumb {
    margin: 0;
}

html body .footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    height: 40px;
    padding-top: 10px;
}

html body .wrap {
    margin: 0 auto -40px;
    padding: 0 0 40px;
}

html body .breadcrumbs {
    margin-bottom: 15px;
}

html body .container {
    width: 100%;
}

html body col.deals_in {
    background-color: #eeffee;
}

html body col.deals_out {
    background-color: #ffeeee;
}

html body col.profit_calc {
    background-color: #eeffee;
}

html body col.profit_real {
    background-color: #ffeeee;
}

html body .info-box .progress .progress-bar {
    background: #009ABF none repeat scroll 0 0;
}
html body .info-box .progress {
    background: #EEE none repeat scroll 0 0;
}

/*tr.selected:hover > td {background: #e2cf9e !important;}*/
tr.selected:nth-of-type(2n+1) > td,
tr.selected.odd > td { background: #FECA40 !important; }
tr.selected:nth-of-type(2n) > td,
tr.selected.even > td{background: #e2cf9e !important;}

.ChkTotal {
    color: #AE9A40;
    font-weight: bold;
}

.table-striped > tbody > tr.outTempData {
    background-color: #FEFFCB;
}

.table-striped > tbody > tr.outTempData:nth-of-type(2n+1) {
    background-color: #FFF529;
}

a:after {
    content: "" !important;
}